In [1]:
import sys
sys.path.append("..")   # go up one level to repo root
import pandas as pd
from python.pamm import calc_pamm_bounds

In [2]:
df: pd.DataFrame = pd.read_csv("../data/ukfpo/ukfp_2025_competition.csv")
df

,Foundation school,Number of programmes,First choice preference,First preference ratio,First preference ratio after pre-allocation / manual matching
0,East of England,898,580,0.65,0.60
1,KSS,696,665,0.96,0.95
2,LNR,317,227,0.72,0.68
3,London,1238,2200,1.78,2.07
4,North West of England,1062,1437,1.35,1.42
5,Northern,520,490,0.94,0.94
6,Northern Ireland,412,349,0.85,0.84
7,Peninsula,313,271,0.87,0.86
8,Scotland,1109,1117,1.01,1.01
9,Severn,405,496,1.22,1.24
10,Thames Valley Oxford,364,596,1.64,1.69
11,Trent,505,237,0.47,0.43
12,Wales,463,303,0.65,0.64
13,Wessex,417,252,0.60,0.58
14,West Midlands Central,297,330,1.11,1.16
15,West Midlands North,446,171,0.38,0.35
16,West Midlands South,294,159,0.54,0.52
17,Yorkshire and Humber,878,758,0.86,0.84

In [3]:
df["PAMM bounds"] = df.apply(
    lambda row: calc_pamm_bounds(
        progs=row["Number of programmes"],
        prefs_before=row["First choice preference"],
        pub_ratio_after=row[
            "First preference ratio after pre-allocation / manual matching"
        ],
    ),
    axis=1,
)

df

,Foundation school,Number of programmes,First choice preference,First preference ratio,First preference ratio after pre-allocation / manual matching,PAMM bounds
0,East of England,898,580,0.65,0.60,"(93, 112)"
1,KSS,696,665,0.96,0.95,"(8, 132)"
2,LNR,317,227,0.72,0.68,"(32, 40)"
3,London,1238,2200,1.78,2.07,"(335, 343)"
4,North West of England,1062,1437,1.35,1.42,"(159, 179)"
5,Northern,520,490,0.94,0.94,"(0, 58)"
6,Northern Ireland,412,349,0.85,0.84,"(6, 30)"
7,Peninsula,313,271,0.87,0.86,"(2, 23)"
8,Scotland,1109,1117,1.01,1.01,"(0, 575)"
9,Severn,405,496,1.22,1.24,"(18, 33)"
10,Thames Valley Oxford,364,596,1.64,1.69,"(26, 30)"
11,Trent,505,237,0.47,0.43,"(31, 38)"
12,Wales,463,303,0.65,0.64,"(13, 24)"
13,Wessex,417,252,0.60,0.58,"(20, 28)"
14,West Midlands Central,297,330,1.11,1.16,"(85, 96)"
15,West Midlands North,446,171,0.38,0.35,"(20, 26)"
16,West Midlands South,294,159,0.54,0.52,"(10, 15)"
17,Yorkshire and Humber,878,758,0.86,0.84,"(104, 150)"