In [ ]:
import sys
sys.path.append("..")   # go up one level to repo root
import pandas as pd
from python.pamm import calc_pamm_bounds

In [ ]:
UKFPO_COMPETITION_DATA_CSV_RELATIVE_PATH: str = "../data/ukfpo/ukfpo_competition_data.csv"

In [9]:
# Import competition data with MultiIndex
df: pd.DataFrame = pd.read_csv(UKFPO_COMPETITION_DATA_CSV_RELATIVE_PATH, index_col=[0, 1])

# Calculate PAMM bounds for each foundation school each FP year
df["pamm_bounds"] = df.apply(
    lambda row: calc_pamm_bounds(
        progs=row.loc["programmes"],
        prefs_before=row.loc["preferences"],
        pub_ratio_after=row.loc["ratio_after"],
    ),
    axis=1,
)

# Show whole dataframe
with pd.option_context('display.max_rows', None):
    display(df)

                            programmes  preferences  ratio  ratio_after  \
year school
2025 East of England               898          580   0.65         0.60
     KSS                           696          665   0.96         0.95
     LNR                           317          227   0.72         0.68
     London                       1238         2200   1.78         2.07
     North West of England        1062         1437   1.35         1.42
     Northern                      520          490   0.94         0.94
     Northern Ireland              412          349   0.85         0.84
     Peninsula                     313          271   0.87         0.86
     Scotland                     1109         1117   1.01         1.01
     Severn                        405          496   1.22         1.24
     Thames Valley Oxford          364          596   1.64         1.69
     Trent                         505          237   0.47         0.43
     Wales                         463          303   0.65         0.64
     Wessex                        417          252   0.60         0.58
     West Midlands Central         297          330   1.11         1.16
     West Midlands North           446          171   0.38         0.35
     West Midlands South           294          159   0.54         0.52
     Yorkshire and Humber          878          758   0.86         0.84
2024 East of England               802          375   0.47         0.44
     KSS                           643          407   0.63         0.62
     LNR                           278          146   0.53         0.51
     London                       1080         2610   2.42         2.89
     North West of England        1001         1354   1.35         1.39
     Northern                      493          402   0.82         0.80
     Northern Ireland              340          223   0.66         0.65
     Peninsula                     302          197   0.65         0.64
     Scotland                      934          933   1.00         1.00
     Severn                        397          667   1.68         1.71
     Thames Valley Oxford          334          474   1.42         1.45
     Trent                         453          225   0.50         0.47
     Wales                         485          277   0.57         0.56
     Wessex                        413          209   0.51         0.49
     West Midlands Central         262          354   1.35         1.47
     West Midlands North           429          169   0.39         0.37
     West Midlands South           278          125   0.45         0.44
     Yorkshire and Humber          778          555   0.71         0.68
2023 East Anglia                   335          134   0.40         0.39
     EBH                           369          210   0.57         0.55
     KSS                           581          290   0.50         0.48
     LNR                           238          155   0.65         0.63
     London                        989         2387   2.41         2.74
     North West of England         901         1112   1.23         1.26
     Northern                      443          422   0.95         0.95
     Northern Ireland              284          266   0.94         0.94
     Peninsula                     253          162   0.64         0.63
     Scotland                      879          831   0.95         0.94
     Severn                        352          478   1.36         1.37
     Thames Valley Oxford          286          357   1.25         1.27
     Trent                         397          211   0.53         0.52
     Wales                         459          277   0.60         0.59
     Wessex                        367          249   0.68         0.67
     West Midlands Central         224          307   1.37         1.47
     West Midlands North           366          130   0.36         0.33
     West Midlands South           232          119   0.51         0.49
     Yorkshire and Humber          700          558   0.80         0.78
2022 East Anglia                   276          148   0.54         0.52
     EBH                           278          166   0.60         0.59
     LNR                           177          100   0.56         0.55
     North London                  581         1510   2.60         3.02
     North West of England         826          966   1.17         1.18
     Northern Ireland              238          202   0.85         0.85
     Northern                      331          261   0.79         0.78
     Oxford                        230          325   1.41         1.43
     Peninsula                     206          169   0.82         0.82
     Scotland                      913          823   0.90         0.90
     Severn                        277          364   1.31         1.32
     South Thames                  837          850   1.02         1.02
     Trent                         333          179   0.54         0.52
     Wales                         405          210   0.52         0.50
     Wessex                        316          226   0.72         0.71
     West Midlands Central         195          254   1.30         1.36
     West Midlands North           249          100   0.40         0.39
     West Midlands South           173           86   0.50         0.49
     Yorkshire and Humber          564          466   0.83         0.81
2021 East Anglia                   251          121   0.48         0.48
     EBH                           260          148   0.57         0.56
     LNR                           158           87   0.55         0.54
     North London                  562         1409   2.51         2.63
     North West of England         786          810   1.03         1.03
     Northern Ireland              236          185   0.78         0.78
     Northern                      329          293   0.89         0.89
     Oxford                        215          310   1.44         1.46
     Peninsula                     184          175   0.95         0.95
     Scotland                      812          805   0.99         0.99
     Severn                        261          310   1.19         1.19
     South Thames                  742          679   0.92         0.91
     Trent                         296          192   0.65         0.65
     Wales                         358          214   0.60         0.60
     Wessex                        290          216   0.74         0.74
     West Midlands Central         180          266   1.48         1.49
     West Midlands North           222           91   0.41         0.41
     West Midlands South           152           87   0.57         0.57
     Yorkshire and Humber          550          431   0.78         0.78

                           pamm_bounds
year school
2025 East of England         (93, 112)
     KSS                      (8, 132)
     LNR                      (32, 40)
     London                 (335, 343)
     North West of England  (159, 179)
     Northern                  (0, 58)
     Northern Ireland          (6, 30)
     Peninsula                 (2, 23)
     Scotland                 (0, 575)
     Severn                   (18, 33)
     Thames Valley Oxford     (26, 30)
     Trent                    (31, 38)
     Wales                    (13, 24)
     Wessex                   (20, 28)
     West Midlands Central    (85, 97)
     West Midlands North      (20, 26)
     West Midlands South      (10, 15)
     Yorkshire and Humber   (104, 150)
2024 East of England          (33, 46)
     KSS                      (14, 30)
     LNR                       (6, 11)
     London                 (269, 272)
     North West of England   (85, 107)
     Northern                 (27, 49)
     Northern Ireland          (1, 10)
     Peninsula                 (7, 14)
     Scotland                 (0, 734)
     Severn                   (15, 19)
     Thames Valley Oxford     (20, 26)
     Trent                    (19, 26)
     Wales                     (7, 17)
     Wessex                   (10, 16)
     West Midlands Central    (65, 68)
     West Midlands North      (14, 19)
     West Midlands South        (3, 7)
     Yorkshire and Humber     (71, 91)
2023 East Anglia                (3, 8)
     EBH                      (12, 19)
     KSS                      (16, 26)
     LNR                      (11, 16)
     London                 (184, 187)
     North West of England   (74, 104)
     Northern                  (0, 61)
     Northern Ireland           (0, 7)
     Peninsula                 (4, 10)
     Scotland                 (7, 140)
     Severn                    (7, 15)
     Thames Valley Oxford     (19, 27)
     Trent                     (6, 13)
     Wales                    (10, 20)
     Wessex                    (4, 14)
     West Midlands Central    (46, 49)
     West Midlands North      (12, 16)
     West Midlands South       (9, 12)
     Yorkshire and Humber     (40, 68)
2022 East Anglia               (7, 12)
     EBH                        (2, 8)
     LNR                        (4, 7)
     North London           (120, 122)
     North West of England    (26, 69)
     Northern Ireland           (0, 5)
     Northern                  (6, 19)
     Oxford                    (7, 11)
     Peninsula                  (0, 6)
     Scotland                  (0, 55)
     Severn                     (1, 9)
     South Thames             (0, 317)
     Trent                     (9, 15)
     Wales                    (12, 18)
     Wessex                    (1, 10)
     West Midlands Central    (29, 33)
     West Midlands North        (3, 6)
     West Midlands South        (1, 4)
     Yorkshire and Humber     (35, 61)
2021 East Anglia                (0, 3)
     EBH                        (3, 8)
     LNR                        (2, 5)
     North London             (41, 43)
     North West of England    (0, 100)
     Northern Ireland           (0, 9)
     Northern                  (0, 15)
     Oxford                    (7, 10)
     Peninsula                 (0, 20)
     Scotland                 (0, 345)
     Severn                     (0, 9)
     South Thames              (1, 78)
     Trent                      (0, 3)
     Wales                      (0, 2)
     Wessex                    (0, 10)
     West Midlands Central      (3, 6)
     West Midlands North        (0, 1)
     West Midlands South        (0, 2)
     Yorkshire and Humber      (0, 21)